2.2-Tomcat_Final/alumnos.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="alumnos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="alumno">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="codigo"/>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:string" name="asignatura"/>
              <xs:element type="xs:string" name="tutoria"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>